#hero{
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 78rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    
}

.linkTitle{
    font-size: 2rem;

}

.links{
        max-width: 30rem;
        min-width: 20rem;
       background-color: rgb(30 30 30 );
       border-radius: 8px;
       padding: 0.1rem 3rem;
       margin: 0.5rem;
       display: flex;
       align-items: center;
       justify-content: space-between;
       color: white;
       max-width: 60vw;
       min-width: 40vw;
       min-height: 3rem;
       font-size: 1rem

       
    
    }
    .links:hover {
        background-color: orangered;
    }

    .images{
        width: 3rem;
        border-radius: 2rem;
    }

    @media screen and (max-width:720px){
        .linkTitle{
            text-align: center;
        }
        .links{ 
            margin: 0;
            min-width: 80vw;
            align-content: center;
            font-size: 0.9rem;



        }
        .images{
            margin-right: 5px;
            margin-left: none;
        }


    }

    @media screen and (min-width:1300px){
        #hero{
            height: calc(100vh - 4rem);
            width: 100vw;
            max-width: 78rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            overflow: hidden;

    }
}
    
