#hero{
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 78rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    
}

.linkTitle{
    font-size: 2rem;

}

.links{
        max-width: 70vw;
        min-width: 50vw;
       background-color: rgb(30 30 30 );
       border-radius: 8px;
       padding: 1rem 3rem;
       margin: 0.5rem;
       display: flex;
       align-items: center;
       justify-content: space-between;
       color: white;
       min-height: 4rem;
       font-size: 1rem;
       

       
    
    }
    .links:hover {
        background-color: orangered;
    }

    .images{
        width: 3rem;
        border-radius: 2rem;
    }

    @media screen and (max-width:720px){
        .linkTitle{
            text-align: center;
            font-size: 1.5rem;
        }
        .links{ 
            margin: 0;
            min-width: 80vw;
            align-content: center;
            font-size: 0.9rem;



        }
        .images{
            margin-right: 5px;
            margin-left: none;
        }


    }

   
            

    

@media screen and (max-width:531px){
    .links{
        font-size: 12px;
        justify-content: flex-start;
        padding: 0.5rem;
        
    }
    .images{
        margin-right: 20px;
    }

    

}
    
